@page "/about"
<div class="main-container">
    <h1 class="display-6">Om Natalie</h1>


    <div class="flex-row">
        <p>Natalie Salomons Frick heter jag. Jag är i fyrtioårsåldern, gift med två pojkar. Vi bor i Östersund. Jag har bra erfarenhet med webbutveckling och design och arbetade med många websidor eftersom jag driver en enskildfirma och i början tog på mig uppdraget att bygga en hemsida själv. Då har jag använt mig av webben och böcker för att lära mig hur. Numera jobbar jag mest i Wordpress. Jag har också pluggat första året Webbprogrammering 120p med BTH. Målet med utbildningen är att att få mina kvalifikationer i ett certifikat samtidigt att jag fylla i hålen i mina kunskaper.</p>
        <img src="img/natalie.jpg" />
    </div>


</div>
