@page "/"

<PageTitle>Start</PageTitle>
<div class="main-container flex-container">
    <div class="main-container">
        <h1 class="display-4">Välkommen</h1>
        <h2>Hej! Kul att du är här :) </h2>
        <p>Den här webbplatsen visas första uppdrag för kursen DT191G Datateknik .NET moment 1.</p>
    </div>

        <Counter IncrementBy="5" />
</div>